repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - '--autofix'
          - '--no-sort-keys'
          - '--indent=4'
          - '--no-ensure-ascii'
  - repo: 'https://github.com/asottile/pyupgrade'
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args:
          - '--py313-plus'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
      # Run the linter.
      - id: ruff
        types_or: [ python, pyi ]
        args: [ --fix ]
